* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #f4f4f4; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 1rem;
}

ul {
  list-style: none;
}

ul li {
  padding: 5px;
  margin: 0 0 0 15px;
}

.exercise {
  margin: auto;
  overflow: auto;
  padding: 1rem 0;
  padding: 1rem;
}

.instructions {
  display: flex;
  justify-content: space-between;
}

#exercise-instructions {
  max-width: 80%;
}

#reset-button {
  cursor: pointer;
}

#container {
  height: 500px;
  border: 1px solid grey;
  margin-bottom: 10px;
}

.option-buttons {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

button {
  height: 40px;
  padding: 10px 15px;
  margin-bottom: 5px;
  border: 0;
  background: #333;
  color: #f4f4f4;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: #444;
}

.ghost {
  background: #f4f4f4;
}
.ghost:hover {
  background: #f4f4f4;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background: #333;
  color: #f4f4f4;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #444;
}

.result {
  margin: auto;
  overflow: auto;
  padding: 1rem 0;
  padding: 1rem;
}

.error {
  background: orangered;
  color: #f4f4f4;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.success {
  background: green;
  color: #f4f4f4;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.info {
  background: rgb(74, 183, 226);
  color: #fff;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
